{% extends 'auth/auth_base.html' %}

{% block auth_actions %}
    <a href="#loginFormDialog" class="button-primary auth-button-primary mb-3">Войти</a>
    <span class="line-text d-block">Еще нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></span>
{% endblock %}

{% block auth_form %}
    <div id="loginFormDialog" class="dialog-overlay">
        <a href="#"></a>
        <form class="dialog-window" method="post">
            {% csrf_token %}
            <h4 class="auth-dialog-title">Вход в кабинет</h4>
            <div class="auth-form-fields">
                {{ form.as_p }}
                <span class="line-text d-block">Забыли пароль? <a href="{% url 'password_reset' %}">Восстановить</a></span>
            </div>
            <button class="button-primary w-100">Войти</button>
        </form>
    </div>
{% endblock %}