{% extends 'auth/auth_base.html' %}

{% block auth_actions %}
    <a href="{% url 'login' %}" class="button-primary auth-button-primary mb-3">Войти</a>
    <span class="line-text d-block">Еще нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></span>
{% endblock %}

{% block auth_form %}
    <div class="dialog-overlay d-block">
        <form class="dialog-window text-start" method="post">
            {% csrf_token %}
            <h4 class="auth-dialog-title">Смена пароля</h4>
            <div class="auth-form-fields">
                {{ form.as_p }}
            </div>
            <button class="button-primary w-100">Подтвердить</button>
        </form>
    </div>
{% endblock %}