$primary_color: #6CD07B;
$primary_color_variant: #5CC06B;

$text_color: #FFFFFF;
$text_color_variant: #9F9F9F;
$text_color_secondary: #4A4A4A;
$text_color_light_variant: #C4C4C4;

$background_color: #24242C;
$surfaces_color: #9C9C9C;

$danger_color: #DC3545;
$success_color: #28A745;